<a [routerLink]="['conteudo', Id]">
  <div class="container">
    <div class="image">
      <img
        src="{{imagem}}"
        alt=""
      />
    </div>
    <div class="data">
      <p>{{data}}</p>
    </div>

    <div class="titulo">
      <h1>{{titulo}}</h1>
    </div>
    <div class="descrição">
      <p>
        {{descricao}}
      </p>
    </div>
    <div class="tags">
      <div *ngFor="let item of tags" class="tag">
        <span>{{ item }}</span>
      </div>
    </div>
  </div>
</a>
