<a href="https://github.com/josias1254/Calculadora">
  <div class="container">
    <div class="image">
      <img
        src="../../../assets/Calculadora.png"
        alt=""
      />
    </div>
    <div class="data">
      <p>Há 3 semanas</p>
    </div>

    <div class="titulo">
      <h1>Calculadora HTML</h1>
    </div>
    <div class="descrição">
      <p>
        {{descricao}}
      </p>
    </div>
    <div class="tags">
      <div *ngFor="let item of lista" class="tag">
        <span>{{ item }}</span>
      </div>
    </div>
  </div>
</a>
