.fora {
  margin: 79px 390px 0px;
}
.banner {
  align-items: center;
}
.capa {
  max-height: 350px;
  display: block;
  object-fit: cover;
  margin: auto;
}
.tags{
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 100px;
}

.link{
  display: flex;
  flex-direction: row;
  border: solid black 2px;
  border-radius: 10px;
  width: 190px;
  background-color: #161B22;
  align-items: center;
  padding: 2px 10px 2px;
}
.github {
  height: 25px;
  display: block;
  object-fit: cover;
  margin-right: 14px;
}
.seta {
  height: 14px;
  display: block;
  object-fit: cover;
  margin-left: 14px ;
}
.link > p {
  font-weight: bolder;
  color: white;
  font-size: 15px;
  text-align: center;
}

.link:hover{
  background-color: rgb(49, 49, 49);
  border-color: rgb(49, 49, 49);
}



.titulo{
  margin: 40px 0px 0px;
}
.descricao{
  margin: 20px 0px 0px;;
  font-size: 16px;
  white-space: pre-line;
}
