<app-news></app-news>

<div class="fora">
  <h1 class="ultimos">Ultimos projetos</h1>
  <div class="posts">
    <div class="giga">
      <app-giga-card
      Id="calculadora"
        imagem="..\..\assets\Calculadora.png"
        link="https://github.com/josias1254/Calculadora"
        titulo="Calculadora HTML"
        descricao="Calculadora feita em HTML e TypeScript usando a framework Angular, meu primeiro projeto feito totalmente sozinho, fiz para praticar o que estou aprendendo."
        [tags]="['JavaScript','HTML','CSS','Angular']"
        data="Há 2 semanas"
      ></app-giga-card>
    </div>
    <div class="card">
      <app-cards  imagem="..\..\assets\blog.png"
      Id="blog"
      link="https://github.com/josias1254/angular-blog"
      titulo="Blog Angular"
      descricao="Este Blog."
      [tags]="['Angular', 'Typescript','HTML','CSS','Git']"
      data="Há 1 dia"></app-cards>
      <app-cards  imagem="..\..\assets\pokedex.png"
      Id="pokedex"
      link="https://github.com/josias1254/dio-Projeto-Pokedex"
      titulo="Pokedex"
      descricao="Projeto de Pokedex, executado juntamente ao bootcamp DIO.
Para esse projeto foi consumido a API REST 'PokeAPI' e com base nas informações fornecidas são listados os Pokemons e seus detalhes."
      [tags]="['JavaScript','HTML','CSS']"
      data="Há 1 mês"></app-cards>
      <app-cards  imagem="..\..\assets\Cv.png"
      Id="cv"
      link="https://github.com/josias1254/cv"
      titulo="Curriculum Vitae"
      descricao="Curriculo feito em HTML juntamente com o Bootcamp da DIO"
      [tags]="['HTML','CSS']"
      data="Há 1 mês"></app-cards>

    </div>
  </div>
</div>
