<div class="menu">

  <div class="social">
    <a href="https://www.linkedin.com/in/josias1254/"><img src="https://www.citypng.com/public/uploads/preview/hd-black-linkedin-in-icon-text-symbol-sign-png-316239729560infmcfmdl.png" alt="" class="icon" target="_blank"></a>
    <a href="https://www.instagram.com/__josias_/"><img src="https://e7.pngegg.com/pngimages/340/745/png-clipart-computer-icons-white-instagram-icon-text-logo.png" alt="" class="icon"></a>
    <a href="https://github.com/josias1254/"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="" class="icon"></a>
  </div>

  <a [routerLink]="['']"><span class="buttom">Home</span></a>

  <img class="img"src="https://e7.pngegg.com/pngimages/753/432/png-clipart-user-profile-2018-in-sight-user-conference-expo-business-default-business-angle-service-thumbnail.png" alt="" height="40px">


</div>

