<div class="menu">

  <div class="social">
    <a href="https://www.linkedin.com/in/josias1254/"><img src="https://www.citypng.com/public/uploads/preview/hd-black-linkedin-in-icon-text-symbol-sign-png-316239729560infmcfmdl.png" alt="" class="icon" target="_blank"></a>
    <a href="https://www.instagram.com/__josias_/"><img src="https://e7.pngegg.com/pngimages/340/745/png-clipart-computer-icons-white-instagram-icon-text-logo.png" alt="" class="icon"></a>
    <a href="https://github.com/josias1254/"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="" class="icon"></a>
  </div>

  <span class="buttom">Home</span>
  <span class="buttom">Ajuda</span>
  <span class="buttom">Sobre</span>

  <img class="img"src="https://cdn.dribbble.com/users/304574/screenshots/6222816/male-user-placeholder.png?compress=1&resize=800x600&vertical=top" alt="" height="40px">


</div>

